<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/home">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link active" href="/users">Thành viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/add">Đăng ký mới</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Người sử dụng</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="/logout" title="Đăng xuất" style="font-size: 30px;"><i class="fa fa-power-off"></i> </a>
        </div>
    </div>
</nav>